// 页面元素 height 100%  设置溢出滚动条
.pages-auto {
  height: 100%;
  overflow: auto;
}
// card 标题 flex
.title-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

//analysis-card
.analysis-card {
  border: solid 1px #dfe6ec;
}
.analysis-card-header, .analysis-card-header-infos {
  display: flex;
}
.flex-items-center {
  align-items: center;
}
.analysis-card-header-img {
  padding: 10px;
  flex: 0 0 100px;
  box-sizing: border-box;
  border-right: 1px solid #dfe6ec;
}
.analysis-card-header-img img {
  width: 90px;
  height: 90px;
  display: block;
}
.analysis-card-header-infos {
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;

}
.analysis-card-body-infos {
  display: flex;
  border-top: solid 1px #dfe6ec;
  & > span {
    padding: 12px 5px 12px 5px;
    display: block;
    position: relative;
    line-height: 14px;
    flex: 1;
    & > i, & > b {
      font-size: 14px;
      font-style: normal;
    }
    & > b {
      font-weight: 400;
    }
    &:before {
      content: '';
      display: block;
      height: calc(100% - 24px);
      width: 1px;
      background-color: #dfe6ec;
      position: absolute;
      top: 12px;
      left: -2px;
    }
    &:first-child:before {
      display: none;
    }
    &.flex-lang {
      flex: 1.4;
    }
  }
}
.key-point {
  color: red;
}
.icon-div {
  cursor: pointer;
}
.content-auto {
  height: calc(100% - 78px);
  overflow: auto;
}
// 页面底部固定按钮组
.new-footer {
  &.supplier-actions-footer{
    margin-top: 16px;
    min-height: 62px;
    height: 62px;
    padding: 0 24px;
    background-color: #FFFFFF;
    box-shadow: 0px -2px 8px 0px rgba(0, 0, 0, 0.1);
    .supplier-actions-bottom{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
}

.el-card__header {
  .title-flex {
    margin-left: 10px;
    & > .card-title {
      margin-left: 0 !important;
    }
  }
}

.padd-r-16 {
  padding-right: 16px;
  font-size: 14px;
  .el-radio {
    margin-right: 10px;
  }
}

.cell.el-tooltip {
  .column-click {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
  }
}

.tooltip-table {
  table {
    tr {
      th, td {
        .cell {
          &.el-tooltip {
            display: inline-block;
            max-width: 100%;
          }
        }
      }
    }
  }
}

.stress-infos {
  font-size: 14px;
  font-weight: 600;
  & > span { color: red}
}

td .el-slider__button-wrapper {
  z-index: 998;
}
