//theme-dark-blue  background
.theme-dark-blue {
  .headerBar {
    background: url('../assets/home_pic/headerBarBg.png') no-repeat right center;
    background-clip: content-box;
  }
}
.headerBar{
  display: flex;

  .headerBarCon {
    display: flex;
    flex: auto;
    justify-content: space-between;
  }
  .headerBarForm {
    .el-input {
      .el-input__inner {
        color: white;
        background: rgba(0, 0, 0, 0.21);
        border: none;
      }
    }
  }
  .el-menu{
    padding-left: 3px;
    &.el-menu--horizontal {
      border: none;
    }
  }

  .el-menu--horizontal > .el-menu-item{
    width: 100px;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    font-weight: 500;
    border-bottom: none;
  }
  .cursorStyle{
    cursor: pointer;
    color: #FFFFFF
  }
}
// logo
.sidebar-logo-container {
  position: relative;
  flex: 0 0 210px;
  text-align: center;
  overflow: hidden;
  & .sidebar-logo-link {
    height: 100%;
    width: 100%;
    & .sidebar-logo-icon{
      color: #fff;
      font-size: 13px;
      margin-left: 7px;
      &:hover{
        cursor: pointer;
      }
    }

    & .sidebar-logo {
      width: 92px;
      vertical-align: middle;
    }

    & .sidebar-title {
      display: inline-block;
      margin: 0;
      color: #fff;
      font-weight: 600;
      line-height: 50px;
      font-size: 14px;
      font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
      vertical-align: middle;
    }
  }
  &.collapse {
    .sidebar-logo {
      margin-right: 0px;
    }
  }
}
