@mixin colorBtn($color) {
  background: $color;
  &:hover {
    color: $color;
    &:before,
    &:after {
      background: $color;
    }
  }
}

body {
  .theme-dark-blue {
    @import 'variables/blue.scss';
    background-color: $pageBackground;
  }
}

.theme-dark-blue {
  @import 'variables/darkBlue.scss';

  .blue-btn {
    @include colorBtn($blue)
  }

  .light-blue-btn {
    @include colorBtn($light-blue)
  }

  .red-btn {
    @include colorBtn($red)
  }

  .pink-btn {
    @include colorBtn($pink)
  }

  .green-btn {
    @include colorBtn($green)
  }

  .tiffany-btn {
    @include colorBtn($tiffany)
  }

  .yellow-btn {
    @include colorBtn($yellow)
  }

  .fixed-header {
    width: calc(100% - #{$sideBarWidth});
  }
  .theme-color {
    color: $primaryColor;
  }
  .base {
    .strip {
      background: $blue;
    }
  }
  // treeselect style reset
  .vue-treeselect {
    &.vue-treeselect--open {
      .vue-treeselect__control {
        border-color: $blue;
      }
    }
  }
  .headerBar{
    height: $headerHeight;
    box-shadow: $headerShadow;
    .el-menu{
      height: $headerHeight;
      background-color: $elMenuBackground;
    }
    .el-menu--horizontal > .el-menu-item{
      height: $headerHeight;
      line-height: $headerHeight;
      color: $elMenuItemColor;
      &:not(.is-disabled) {
        &:hover, &:focus {
          color: $elMenuItemHoverColor;
          background-color: $elMenuItemHoverBackground;
        }
      }
      &.is-active {
        background-color: $elMenuItemActiveBackground;
      }
    }
    .el-menu--horizontal > .el-submenu .el-submenu__title{
      height: $headerHeight;
      line-height: $headerHeight;
    }
  }
  // logo
  .sidebar-logo-container {
    height: $headerHeight;
    line-height: $headerHeight;
  }

  // 表格hover
  .el-table__body tr.hover-row.current-row>td,
  .el-table__body tr.hover-row.el-table__row--striped.current-row>td,
  .el-table__body tr.hover-row.el-table__row--striped>td,
  .el-table__body tr.hover-row>td {
    background-color: $defaultBtnHoverBackground;
  }
  // 表格内容链接
  .column-click {
    color: $primaryColor;
    &:hover {
      color: $primaryColor;
    }
  }

  .el-dropdown-menu {
    .el-dropdown-menu__item:not(.is-disabled):hover,
    .el-dropdown-menu__item:focus {
      background-color: $defaultBtnHoverBackground;
    }
  }

  //审批
  .verification-info {
    .el-card {
      .el-card__header {
        .card-title{
          &:after {
            background-color: $blue;
          }
        }
      }
    }
  }

  .work-order-tabs {
    .el-tabs {
      &.el-tabs--border-card > .el-tabs__header .el-tabs__item {
        &:not(.is-disabled):hover,
        &.is-active {
          color: $blue ;
        }
      }
    }
  }

  // layout.scss
  // 寻源进度条面板
  $grayColor8f959e: #8f959e;
  $sourcingBorderColor: #e7e7e7;
  .progress-panel {
    &:before {
      background: $blue;
    }
    .progress-panel-left {
      border-right: solid 1px $sourcingBorderColor;
    }
    .progress-panel-left-list {
      &.hr-line {
        & > span{
          & + span {
            &:before {
              background-color: $sourcingBorderColor;
            }
          }
        }
      }
    }
  }
  .sign-small {
    color: $grayColor8f959e;
    &:before {
      background-color: $grayColor8f959e;
    }
  }
  .gray-color8f959e {
    color: $grayColor8f959e;
  }
  .el-tabs--card {
    &.tabs-reset {
      & > .el-tabs__header {
        .el-tabs__item {
          &.is-active {
            color: $blue;
            background: white;
          }
        }
      }
    }
  }
  //寻源
  .icon-style {
    color: $blue;
  }
  .demo-ruleForm {
    .tip, .totalAmountAutoTip{
      color: $defaultBtnHoverColor;
      border: 1px solid $defaultBtnHoverBorderColor;
      background: $defaultBtnHoverBackground;
    }
  }

  //sidebar.scss
  // when menu collapsed
  .el-menu--vertical {
    .nest-menu .el-submenu>.el-submenu__title,
    .el-menu-item {
      &:hover {
        background-color: $menuHover !important;
      }
    }
  }

  //supplier-common.scss
  // 背景颜色+边框颜色
  .el-checkbox__input.is-checked .el-checkbox__inner,
  .el-radio__input.is-checked .el-radio__inner,
  .el-switch.is-checked .el-switch__core,
  .el-checkbox__input.is-indeterminate .el-checkbox__inner{
    background-color: $blue;
    border-color: $blue;
  }
  // 边框颜色
  .el-checkbox__inner:hover, .el-radio__inner:hover,
  .el-textarea__inner:focus,
  .el-checkbox__input.is-focus .el-checkbox__inner,
  .el-pagination__sizes .el-input .el-input__inner:hover,
  .el-input__inner:focus,
  .el-select .el-input__inner:focus,
  .el-select .el-input.is-focus .el-input__inner,
  .el-range-editor.is-active, .el-range-editor.is-active:hover{
    border-color: $blue;
  }
  // el-input 高度
  $elInputHeight: 32px;
  .el-input__inner {
    //height: $elInputHeight;
    //line-height: $elInputHeight;
  }
  .el-input--medium {
    .el-input__inner {
      height: $elInputHeight;
      line-height: $elInputHeight;
      color: rgba(0, 0, 0, .89);
    }
    .el-textarea__inner {
      color: rgba(0, 0, 0, .89);
    }
  }
  // 颜色
  .el-checkbox__input.is-checked + .el-checkbox__label,
  .el-radio__input.is-checked + .el-radio__label,
  .el-date-table td.today span,
  .el-picker-panel__icon-btn:hover,
  .el-date-picker__header-label:hover,
  .el-date-table td.available:hover,
  .el-select-dropdown__item.selected,
  .el-tabs__item.is-active,
  .el-tabs__item:hover,
  .el-select-dropdown.is-multiple .el-select-dropdown__item.selected,
  .el-dialog__headerbtn:focus .el-dialog__close, .el-dialog__headerbtn:hover .el-dialog__close,
  .el-icon-warning{
    color: $blue;
  }
  // 背景颜色
  .el-date-table td.current:not(.disabled) span,
  .el-date-table td.start-date span, .el-date-table td.end-date span,
  .el-tabs__active-bar,
  .el-pagination.is-background .el-pager li:not(.disabled).active{
    background-color: $blue;
  }
  // card 标题 颜色
  .card-title{
    .card-title-hr{
      background-color: $blue;
    }
  }
  .login-info-title {
    font-size: $sizeLg;
    font-weight: $weightLg;
    .iconfont {
      font-size: $sizeLg;
      font-weight: $weightLg;
    }
  }
  .el-card {
    .el-card__header {
      &:before {
        background: $blue;
      }
    }
  }
  .card-groups {
    .el-card {
      .el-card__header {
        &:before {
          background: $blue;
        }
      }
    }
  }

  // el form color
  .el-form-item__label {
    color: $formLabelColor;
  }
  .el-form-item__content{
    color: $formContentColor;
  }
  .form-detail {
    .el-form-item__label{
      color: $formLabelDetailColor;
    }
  }
  .el-form-item--mini {
    font-size: $fontSizeMini
  }
  // 查看页样式
  .page-detail {
    &.el-form {
      .el-form-item {
        .el-form-item__label {
          color: $formLabelColor;
        }
      }
    }
  }
  .form-detail {
    .el-form--label-top {
      .el-form-item__label {
        color: $formLabelColor;
        padding-bottom: 2px;
      }
    }
  }

  // 附件上传
  .el-upload .el-button.el-button--primary {
    background-color: $blue;
    border-color: $blue
  }
  .el-upload-list.el-upload-list--text {
    .el-upload-list__item .el-upload-list__item-name:hover {
      color: $blue;
    }
  }

  // 级联组件
  .el-cascader .el-input .el-input__inner:focus {
    border-color: $blue
  }
  .el-cascader .el-input.is-focus .el-input__inner {
    border-color: $blue
  }
  .el-cascader-node.is-active {
    color: $blue
  }
  .el-cascader-node.in-active-path, .el-cascader-node.is-selectable.in-checked-path, .el-cascader-node.is-active {
    color: $blue
  }

  // 进度条
  .el-progress-bar__inner {
    background-color: $blue
  }
  //门户注册
  $process:$blue;
  $finish: #000000;
  $wait: #8C8C8C;
  .supplier-horizontal-steps{
    .el-step__main{
      .is-finish+div{
        color: $process;
      }
      .is-process+div, .is-wait+div{
        color: $wait;
      }
    }
    .is-finish, .is-process{
      color: $finish;
      .el-step__icon{
        border-color: $process;
        background-color: $process !important;
        color: #FFFFFF;
      }
    }
    .is-process{
      color: $process;
    }
    .is-wait{
      color: $wait;
    }
    .is-wait{
      .el-step__icon{
        border-color: $wait;
        color: $wait;
      }
    }
  }

  .tab-panel-tabs {
    .el-tabs {
      .el-tabs__item {
        &:hover, &.is-active {
          color: $mainColor;
        }
      }
    }
  }

  // el-table
  .el-table {
    th {
      color: $elTableThColor;
      background-color: $elTableThBg;
    }
    .el-table__fixed-right-patch {
      background-color: $elTableThBg;
    }
  }
  // 分页
  .el-pagination {
    span {
      font-size: $fontSizeMini;
    }
    .el-pagination__sizes {
      .el-input {
        .el-input__inner {
          font-size: $fontSizeMini;
        }
      }
    }
    .el-pager {
      li {
        font-size: $fontSizeMini;
      }
    }
    .el-input--medium {
      font-size: $fontSizeMini;
      .el-input__inner {
        height: $inputHeightMini;
        line-height: $inputHeightMini;
      }
    }
  }
  // el-steps-reset
  .el-steps {
    &.steps-reset {
      .el-step {
        &.is-simple {
          .el-step__icon {
            color: $stepsColor;
            border-color: $stepsColor;
          }
          .is-success + .el-step__arrow {
            &:before {
              border-bottom-color: $stepsColorSuccess;
            }
          }
          .is-process + .el-step__arrow {
            &:before {
              border-bottom-color: $stepsBgProcess;
            }
          }
        }
        .is-success {
          .el-step__icon {
            color: $stepsColorSuccess;
            border-color: $stepsColorSuccess;
          }
        }
        .is-process {
          .el-step__icon {
            color: $stepsColorProcess;
            border-color: $stepsBgProcess;
            background-color: $stepsBgProcess;
          }
        }
      }
      .el-step__title {
        &.is-wait {
          color: rgba(0, 0, 0, 0.45);
        }
        &.is-process {
          color: $stepsBgProcess;
        }
      }
    }
  }

  //btn.scss
  .el-button--primary.el-button--default:hover,
  .el-button--primary.el-button--default:focus {
    background: $blue;
    border-color: $blue;
    color: #FFFFFF;
  }

  .el-button, .el-button--default {
    border-color: $defaultBtnBorderColor;
    &:focus {
      color: $blue;
      border-color: #DCDFE6;
      background-color: #fff;
    }
    &:hover {
      color: $defaultBtnHoverColor;
      border-color: $defaultBtnHoverBorderColor;
      background-color: $defaultBtnHoverBackground;
    }
    &.el-button--text {
      color: $blue;
      border-color: transparent;
      &:focus {
        color: $blue;
        border-color: transparent;
        background-color: transparent;
      }
      &:hover {
        color: $blue;
        border-color: transparent;
        background-color: transparent;
      }
    }
  }

  .el-button.el-button--primary{
    background-color: $blue;
    border-color: $blue;
    &:hover, &:focus {
      color: white;
      background-color: $blue;
      border-color: $blue;
    }
  }

  .supplier-buttons{
    .el-button--primary{
      background-color: $blue;
      border-color: $blue;
    }
  }

  //el-dialog 弹框
  .default-before-after {
    content: '';
    display: flex;
  }

  //& ~ .v-modal {
  //  background: rgba(0, 0, 0, 0.77);
  //  filter: blur(0px);
  //  opacity: 1;
  //}
  //.el-dialog {
  //  background-color: transparent;
  //  box-shadow: none;
  //  &:before {
  //    @extend .default-before-after;
  //    width: 100%;
  //    height: 100%;
  //    background: linear-gradient(180deg, rgba(8, 118, 226, 0.18) 0%, rgba(4, 41, 100, 0.28) 100%);
  //    box-shadow: 0px 1px 13px 7px rgba(29, 212, 255, 0.58) inset;
  //    //opacity: 0.28;
  //    filter: blur(0px);
  //    position: absolute;
  //    left: 0;
  //    top: 0;
  //    z-index: -1;
  //  }
  //  &:after {
  //    @extend .default-before-after;
  //    width: 52%;
  //    height: 4px;
  //    margin-left: -26%;
  //    border-radius: 2px;
  //    background-color: #00D8FF;
  //    position: absolute;
  //    left: 50%;
  //    bottom: 0;
  //  }
  //  .el-dialog__header {
  //    padding: 12px 20px 12px 28px;
  //    border-color: #888;
  //    border-bottom-style: dashed;
  //    &:before {
  //      @extend .default-before-after;
  //      width: 5px;
  //      height: 34px;
  //      margin-left: -8px;
  //      background-color: rgba(0, 216, 255, .59);
  //      position: absolute;
  //
  //    }
  //    .el-dialog__title {
  //      display: inline-block;
  //      position: relative;
  //      padding-left: 30px;
  //      padding-right: 30px;
  //      font-size: 20px;
  //      font-family: PingFangSC-Semibold, PingFang SC;
  //      font-weight: 600;
  //      color: #9BC7CC;
  //      line-height: 34px;
  //      background: linear-gradient(360deg, #1DD4FF 0%, #F8FFFF 100%);
  //      -webkit-background-clip: text;
  //      -webkit-text-fill-color: transparent;
  //      &:before, &:after {
  //        @extend .default-before-after;
  //        position: absolute;
  //        z-index: -1;
  //      }
  //      &:before {
  //        width: 100%;
  //        height: 100%;
  //        background: linear-gradient(270deg, rgba(31, 76, 162, 0) 0%, rgba(0, 216, 255, .59) 100%);
  //        left: 0;
  //        top: 0;
  //      }
  //      &:after {
  //        width: 6px;
  //        height: 6px;
  //        margin-top: -3px;
  //        background-color: white;
  //        border-radius: 6px;
  //        left: 12px;
  //        top: 50%;
  //      }
  //    }
  //    .el-dialog__headerbtn {
  //      width: 20px;
  //      height: 20px;
  //      border-radius: 20px;
  //      background-color: #1DD4FF;
  //      i {
  //        color: #324559;
  //        font-weight: 600;
  //      }
  //    }
  //  }
  //  .el-button {
  //    color: white;
  //    background: rgba(255, 255, 255, 0.13);
  //    box-shadow: 0px 1px 7px 0px #00D8FF inset;
  //    border: none;
  //    &.el-button--primary{
  //      background: rgba(24, 159, 255, 0.54);
  //      box-shadow: 0px 1px 10px 0px rgba(29, 212, 255, 0.57) inset;
  //    }
  //  }
  //}
  //.form-detail {
  //  .el-dialog{
  //    .el-form--label-top {
  //      .el-form-item__label {
  //        color: #E9FDFF;
  //        font-weight: 500;
  //      }
  //    }
  //    .el-input {
  //      .el-input__inner {
  //        color: white;
  //        background: rgba(9, 103, 162, 0.16);
  //        border-radius: 4px;
  //        border: 1px solid #1DD4FF;
  //      }
  //    }
  //    .el-textarea__inner {
  //      color: white;
  //      background: rgba(9, 103, 162, 0.16);
  //      border-radius: 4px;
  //      border: 1px solid #1DD4FF;
  //    }
  //    .el-textarea {
  //      .el-input__count {
  //        color: #fafafa;
  //        background: rgba(9, 103, 162, 0.16);
  //      }
  //    }
  //  }
  //}

}




//sidebar.scss

#app {
  &.theme-dark-blue {
    @import 'variables/darkBlue.scss';
    .main-container {
      margin-left: $sideBarWidth;
    }

    .sidebar-container {
      width: $sideBarWidth !important;
      background-color: $menuBg;
      height: calc(100% - #{$headerHeight});
      top: $headerHeight;
      .nest-menu .el-submenu > .el-submenu__title,
      .el-submenu .el-menu-item.is-active,
      .el-scrollbar__view .el-menu-item.is-active {
        color: #334D6E;
        border-left: 4px solid #0573E4;
        background: linear-gradient(90deg, rgba(5, 117, 230, .07) 0%, rgba(2, 27, 121, .07) 100%);
        box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.05);
      }
      // menu hover
      .el-menu-item,
      .el-submenu__title {
        color: rgba(255, 255, 255, .65);
        i {
          color: rgba(255, 255, 255, .65);
        }
        &:hover {
          background-color: $menuHover !important;
        }
      }
      .is-active {
        &.is-opened {
          .el-menu {
            background: #022343;
          }
        }
        & > .el-submenu__title {
          color: $subMenuActiveText !important;
          i {
            color: $subMenuActiveText !important;
          }
        }
      }

      & .nest-menu .el-submenu > .el-submenu__title,
      & .el-submenu .el-menu-item {
        min-width: $sideBarWidth !important;
        //background-color: $subMenuBg !important;
        &:hover {
          background-color: $subMenuHover !important;
        }
      }
    }
    .el-menu {
      background-color: transparent;
    }
    .el-menu--collapse .el-menu .el-submenu {
      min-width: $sideBarWidth !important;
    }

    .el-scrollbar {
      .el-menu-item {
        border-left: 4px solid transparent;
        &.is-active {
          color: #fff !important;
          border-left-color: $sidebarBorderColor !important;
          background: $sidebarBg !important;
        }
      }
      .el-submenu .el-menu-item {
        padding-left: 45px !important;
      }
    }

    // mobile responsive
    .mobile {
      .sidebar-container {
        width: $sideBarWidth !important;
      }

      &.hideSidebar {
        .sidebar-container {
          transform: translate3d(-$sideBarWidth, 0, 0);
        }
      }
    }

    .el-menu--horizontal > .el-menu-item.is-active {
      border-bottom-color: $blue;
    }

    //表格分页选中色
    .el-pager {
      li {
        color: #9fa2a7;

        &.active {
          color: #b17408
        }

        &:hover {
          color: $blue
        }
      }
    }



  }
}
